
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <!-- <% if (home.created_at).utc >= (DateTime.now + 30.days).utc %>
        <font color='orange'>
          Listed <%= distance_of_time_in_words(Time.now, home.created_at) %> ago
        </font>
      <% elsif (home.created_at).utc >= (DateTime.now + 2.days).utc %>
        <font color='green'>
          Listed <%= distance_of_time_in_words(Time.now, home.created_at) %> ago
        </font>
      <% else %>
        Listed <%= distance_of_time_in_words(Time.now, home.created_at) %> ago
      <% end %> -->

      <p class="<%= css_class_for_how_old_this_home_is(home.created_at) %>">
        Listed <%= distance_of_time_in_words(Time.now, home.created_at) %> ago
      </p>

      <% if home.image_url(:medium) %>
        <%= image_tag(home.image_url(:medium), class: "home-image") %>
      <% else %>
        No image available for home <%= home.id %>
      <% end %>
    </div>
        <div class="caption">
          <div class="row">
            <div class="col-xs-6">
              <h4>Address</h4>
              <p><%= home.address %></p>
              <h4>Price</h4>
              <p><%= home.price %></p>
            </div>
            <div class="col-xs-6">
              <h4>Bedrooms</h4>
              <p><%= home.bedrooms %></p>
              <h4>Bathrooms</h4>
              <p><%= home.bathroms %></p>
              <h4>Favorite</h4>
              <p>
                <span data-home-id="<%= home.id %>" class="favorite-home glyphicon <%= heart_class(home, current_user) %>"></span>
              </p>
              <% if current_user && current_user == home.user %>
                <p>
                  <%= link_to edit_home_path(home) do %>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  <% end %>
                </p>
                <p>
                   <%= link_to home, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
          <div>
            <p>
              <%= link_to "View Details", home, class: "btn btn-default" %>
            </p>
          </div>
        </div>
      </div>
